vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jun 2009 11:52:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|2011/Web\\ page/Games/battleship/battleship.html 2011/Web\\ page/index.html 2011/Web\\ page/Games/blast/blast.html 2011/Web\\ page/Games/galactica/galactica.html 2011/Web\\ page/Games/invaders/invaders.html 2011/Web\\ page/Games/poker/poker.html 2011/Web\\ page/pk2.html 2011/Web\\ page/pk3.html 2011/Web\\ page/Games/pool/pool.html 2011/Web\\ page/pk1.html 2011/Web\\ page/Games/putput/putput.html 2011/Web\\ page/Games/spec-ops/spe-ops.html
vti_author:SR|ahi4\\Paul
vti_modifiedby:SR|ahi4\\Paul
vti_timecreated:TR|30 Jun 2009 11:52:14 -0000
vti_cacheddtm:TX|30 Jun 2009 11:52:14 -0000
vti_filesize:IR|288
