vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Feb 2011 08:37:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ahi4\\Paul
vti_modifiedby:SR|ahi4\\Paul
vti_timecreated:TR|20 Feb 2011 05:23:32 -0000
vti_backlinkinfo:VX|2011/Web\\ page/Games/battleship/battleship.html 2011/Web\\ page/index.html 2011/Web\\ page/Games/galactica/galactica.html 2011/Web\\ page/Games/invaders/invaders.html 2011/Web\\ page/Games/blast/blast.html 2011/Web\\ page/Games/poker/poker.html 2011/Web\\ page/Games/pool/pool.html 2011/Web\\ page/pk2.html 2011/Web\\ page/pk3.html 2011/Web\\ page/Games/putput/putput.html 2011/Web\\ page/Games/spec-ops/spe-ops.html 2011/Web\\ page/pk1.html
vti_nexttolasttimemodified:TR|22 Feb 2011 04:12:23 -0000
vti_cacheddtm:TX|23 Feb 2011 08:37:37 -0000
vti_filesize:IR|1092
vti_cachedlinkinfo:VX|S|../images/z4.gif
vti_cachedsvcrellinks:VX|FSUS|2011/Web\\ page/images/z4.gif
